/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1.Vi tri
2.Kich thuoc
3.Mau sac
4.Kieu dang */

/* Common */
.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}
.pull-right {
    float: right !important;
}
.text-center {
    text-align: center !important;
}
.btn {
    display: inline-block;
    background-color: #000;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}btn
.mt-8 {
    margin-top: 8px !important;  
}
.mt-16 {
    margin-top: 16px !important;  
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
/* Tạo thẻ giả, clear */
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: 33.3333%;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}

/* Main */
#main {

}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}
.subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color:  white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a ,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
    
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#nav .subnav {
    display: none; 
    position: absolute;
    min-width: 160px;
    background-color: white;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: black;
    padding: 0 14px;
    line-height: 38px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}
#header .search-icon {
    color: #fff;
    font-size: 16px;
    line-height: 46px;
    
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/Band/assets/img/slider/slider.jpg) top center / cover no-repeat;
}

#slider .text-content {
    position:absolute;
    bottom: 48px;
    color: snow;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;

}
#slider .text-heading {

}
#slider .text-description {
    margin-top: 25px;
    font-weight: 500;
    font-size: 15px;
}
#content {
    
}

#content .content-section {
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}
#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}
#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list {
    margin-top: 48px;
    /* overflow: hidden; */
}
#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* Tour section */
.tour-section {
    background-color: black;
}
.tichkets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tichkets-list li {
    
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.tichkets-list .sold-out {
    color: #fff;
    background-color: #f44336;
    margin-left: 16px;
    text-align: center;
    padding: 1px 8px;
    list-style-type: none;
}

.tichkets-list .quantity {
    border-radius: 50%;
    float: right;
    background-color: black;
    padding: 0 8px;
    text-align: center;
    color: #fff;
    width: 24px;
    line-height: 24px;
    height: 24px;
    margin-top: -2px;
}

/* Places */
.places-list {
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.7;
}
.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading {
    font-size: 15px;
    font-weight: 600;
}
.place-time {
    margin-top: 15px;
    color: #757575;
}
.plae-desc {
    margin-top: 15px;
    line-height: 1.4;
    margin-bottom: 15px;
}

/* Contact from */
.contact-content {
    margin-top: 48px;
    list-style: 1.6;
}
.contact-info {
    font-size: 18px;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map-section */
.map-section img {
    width: 100%;
}
/* Contact section */
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list {
    font-size: 20px;
}
#footer .social-list a {
    text-decoration: none;
    color: rgba(37, 22, 22, 0.6);
}
#footer .copy-right a,
#footer .social-list a:hover {
    color: rgba(37, 22, 22, 0.3);
}
#footer .copy-right {
    margin-top: 15px;
    color: rgba(37, 22, 22, 0.6);
}
#footer .copy-right a{
    color: rgba(37, 22, 22, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .4s;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover {
    opacity: 1;
}

.modal-header {
    background: rgb(6, 116, 6);
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #fff;
}

.modal-header i {
    margin-right: 15px;
}

.modal-body {
    padding: 15px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.ti-shopping-cart {

}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding:  10px;
    margin-bottom: 30px;
}
#buy-tickets {
    background: rgb(6, 116, 6);
    color: #fff;
    width: 100%;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    padding: 14px;
    cursor: pointer;
}
#buy-tickets:hover {
    opacity: 0.8;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #2196F3;
}

/* Tao chuyen dong */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}